@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@500&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Menu do Projeto Cora */
/* Para fazer um atalho de comentário no Css usa-se ctrl e dois pontos, quem me ensinou foi o José*/

*{
  margin: 0px;
  padding: 0px; 
}


body{
  background: #FDF1EC;
  width: 1440px;
  height: 1807px;

 
  

}

header{
 
  background-color:#412A4C;
  width: 1440px;
  height: 70px;
  left: 0px;
  top: 0px; 
  
}

.menu ul li{  
  display: inline;
  color: #FFF3ED; 
 
}

.menu ul li img{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding-inline-start: 135px;
  font-family: 'Iowan Old Style';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #E57CD8;
  padding-block-start: 30px;
}

.menu ul li.blog a{
  position: absolute;
  width: 32px;
  height: 21px;
  left: 1020px;
  top: 25px;
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFF3ED;
}

.menu ul li.contato a{
  position: absolute;
  width: 62px;
  height: 21px;
  left: 1105px;
  top: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFF3ED;
  text-decoration: none;
}

.menu  ul button  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  position: absolute;
  width: 135px;
  height: 35px;
  left: 1196px;
  top: 17px;
  color: #FFFFFF;
  background: #E57CD8;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 40px;
  border: none;
  text-decoration: none;
}

section.chamado{
  width: 1440px;
  height: 733px;
}

.chamado h1{ 
  position: absolute;
  width: 553px;
  height: 176px;
  left: 135px;
  top: 227px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 81.2651px;
  line-height: 110.2%;
  color: #412A4C;

}
.chamado p{
  position: absolute;
  width: 467px;
  height: 91px;
  left: 135px;
  top: 435px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150.02%;
  color: #3A506B;
}

div.imagem{
  position: absolute;
  width: 314.07px;
  height: 445.02px;
  left: 735.68px;
  top: 168px;
  background: #C4C4C4;
  border-radius: 12.2686px;
}
section.chamado button{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  gap: 10px;
  color: #FFFFFF;
  position: absolute;
  width: 174px;
  height: 51px;
  left: 135px;
  top: 558px;
  background: #E57CD8;
  border-radius: 40px;
  border: none;
}

section.escolher{
  position: absolute;
  width: 1440px;
  height: 499px;
  left: 0px;
  top: 803px;
  background: #2C1338; 
}

section.escolher ul{
  list-style: none;
  display: flex;
  padding: 100px;
  justify-content: space-around; 
}
.escolher ul li img{
  padding-left: 30px;
}

.escolher ul li h2 {
  width: 230px;
  height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;  
}

.escolher ul li h2#form{
  padding-bottom: 10px;
  color: #E57CD8;
  text-align: center; 
}

.escolher ul li h2#amarelo{
  color: #FFDE91; 
  padding-bottom: 10px;
  text-align: center;
}

.escolher ul li h2#lilas{
  color: #A876F5;  
  padding-bottom: 10px; 
  text-align: center;
}

.escolher ul li p#p1{
  width: 230px;
  height: 94px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF3ED;
  flex: none;
  order: 2;
  flex-grow: 0; 
}

.escolher ul li p#p2{
  width: 273px;
  height: 105px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.3px;
  color: #FFF3ED;
  flex: none;
  order: 2;
  flex-grow: 0; 
}

.escolher ul li p#p3{  
  width: 247px;
  height: 97px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF3ED;
  flex: none;
  order: 2;
  flex-grow: 0;
}

section.participe{
  position: absolute;
  width: 1440px;
  height: 411px;
  left: 0px;
  top: 1302px;
  background: #FDF1EC;
}

section.participe h1{
  position: absolute;
  width: 1171px;
  height: 36px;
  left: 440px;
  bottom: 290px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #E57CD8;
}

section.participe p{
  position: absolute;
  width: 792px;
  height: 75px;
  left: 324px;
  top: 170px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  text-indent: 25px;
  text-align: justify;
  color: #606474;
}

section.participe button{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  gap: 10px;
  position: absolute;
  width: 145px;
  height: 51px;
  left:600px;
  bottom: 60px;
  background: #E57CD8;
  color: #FFFFFF;
  border-radius: 40px;
  border: none;
}  

footer{
  position: absolute;
  width: 1440px;
  height: 94px;
  left: 0px;
  bottom: 0px;
  top: 1700px;
  background: #412A4C;
}

footer div img{
  padding-inline-start: 135px;
  padding-block-start: 30px;
}

footer ul {
  display: inline;
  color: #FFF3ED; 
}

footer ul li{
  display: inline;
  color: #FFF3ED;
}

footer ul li.p{
  position: absolute;
  width: 169px;
  height: 21px;
  left: 856px;
  bottom: 37px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FCE5D8;
}

footer ul li.t{
  position: absolute;
  width: 109px;
  height: 21px;
  left: 1062px;
  bottom: 37px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FCE5D8;
}

footer ul li.c{
  position: absolute;
  width: 5.25px;
  height: 12px;
  left: 1200.08px;
  bottom: 44.08px; 
}

footer ul li.ano{
  position: absolute;
  width: 86px;
  height: 21px;
  left: 1218px;
  bottom: 37px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FCE5D8;
}









  

   
 

  
  
 
 

  
  
  
  




